* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    gap: 2rem;
    height: 400px;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
    align-self: end;
}


.blue {
    background-color: blue;
}